*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --main-color:#f0a981;
  --light-pink:#F7BC9B;
  --text:#575757;
}
::-webkit-scrollbar{
  display:none;
}
body{
  background-image: url(./img/background.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.book{
  position: relative;
  width: 500px;
  height: 600px;
  transition: transform 0.5s;
}
.cover{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  perspective: 1500px;
}
.back-cover{
  background: rgba(240, 169, 129, 0.83);
  border: 5px solid var(--light-pink);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width:100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index:-2;
}
.page{
  width: 490px;
  height: 590px;
  background-color: #ffffff;
  position: absolute;
  top: 5px;
  left:5px;
  border-radius: 5px;
  z-index: -1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.front,.back{
  background-color: var(--main-color);
  background-image: url("https://www.transparenttextures.com/patterns/gray-floral.png");
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: left;
  transition: transform 0.5s;
}
.flipped .front,.flipped .back{
  transform: rotateY(-180deg);
}
.front{
  z-index: 1;
  backface-visibility: hidden;
  cursor: pointer;
}
.back{
  z-index: -1;
  border-left: 2px solid #f0e9de;
  background-color: #fff;
  background-image: url("https://www.transparenttextures.com/patterns/gray-floral.png");
  border: 5px solid var(--light-pink);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.front-content{
  font-size: 30px;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-content{
  transform: rotateY(-180deg);
  position: relative;
  top: 10px;
}
.backArrow{
  width: 90px;
  position: absolute;
  left: -45px;
  bottom:-240px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backArrow:hover .closeBook{
  background-color: var(--light-pink);
}
.closeBook{
  width: 50px;
  height: 50px;
  background-color: var(--main-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.closeBook>img{
  width: 30px;
}
.backArrow:hover{
  /* width: 35px; */
  animation: backArrow 1.5s infinite;
}
@keyframes backArrow {
  0%,
  100% {
    left: -40px;
  }

  50% {
    left: -60px;
  }
}
.bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.picture{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
.picture>img{
  width:100%;
  position: relative;
  bottom: 15px; 
}
.search{
  display: flex;
  height: 50px;
  position: relative;
}
.searchBox{
  border-radius: 10px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  border: transparent;
  font-size: 16px;
  padding-left: 45px;
  padding-right: 15px;
  color: var(--text);
  border: 1px solid #e7e7e7;
}
.searchBox:hover{
  border: 2px solid var(--light-pink);
}
input:focus{
  outline: none;
}
.searchIcon{
  width: 25px;
  height: 25px;
  position: absolute;
  left: 10px;
  top: 12px;
  cursor: pointer;
}
.add{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #e7e7e7;
}
.add:hover{
  border: 2px solid var(--light-pink);
}
.add>img{
  width: 40%;
}
.closeBtn{
  position: absolute;
  right: -40px;
  top: -40px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--main-color);
}
.closeBtn:hover{
  background-color: var(--light-pink);
}
.info{
  height: 10%;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;

}
.title>img{
  width: 25px;
}
.title>input{
  padding: 5px 5px;
  border: transparent;
  font-weight: bold;
  font-size: 16px;
  color: var(--text);
}
.title:hover >img{
  margin-bottom: 10px;
}
.title:hover >input{
  border-bottom: 2px dotted #fece85;
}
.calendar{
  width: 27%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calendar>span{
  font-weight: bold;
  color: var(--text);

}
.calendar>img{
  width: 30px;
}
.content{
  width: 100%;
  height: 60%;
  position: relative;
}
.content>div{
  width:100%;
  height: 73%;
  /* overflow: hidden; */
  border-top: 2px dashed var(--main-color);
  border-bottom: 2px dashed var(--main-color);
  /* position: relative; */
}
.slick-list{
  width:100%;
}
.slick-slide img{
  height: 253px;
  width: 100%;
}
.deleteSelectedImg{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--main-color);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
}
.deleteSelectedImg:hover{
  background-color: var(--light-pink);
}
.deleteSelectedImg>img{
  width: 25px;
  height: 25px;
}
.uploadImage,#preview{
  width: 100%;
  height: 73%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.uploadImage:hover{
  background-color: #cac5c55e;
  cursor: pointer;
}
.uploadImage:hover >label>img{
  display: block;
  cursor: pointer;
}
.uploadImage>label>img{
  display: none;
  width: 50px;
}
.uploadImage>input{
  display: none;
}
.content>textarea{
  width: 100%;
  height: 76%;
  border: transparent;
  padding:10px 10px;
  line-height: 20px;
  color: var(--text);
}
.content>textarea:focus{
  outline:none;
}
.saveBtn{
  position: absolute;
  bottom: -30px;
  background-color: var(--main-color);
  border-radius: 50%;
  width: 55px;
  height:55px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.saveBtn:hover{
  background-color: var(--light-pink);
}
